**1-Write a Python program to calculate the length of a string using 2 ways

In [ ]:
s = input("Enter a string:")
print("the length of string", len(s))

Enter a string:mariam
the length of string 6

In [ ]:
s = input("Enter a string:")
count = 0
for i in s:
    count += 1
print("the length of string",count)

Enter a string:mariam
the length of string 6

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [ ]:
s = input("Enter the string:")
if len(s) < 2 :
  print("empty string")
else:
  print(s[:2] , s[-2:])

Enter the string:resource
re ce

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [ ]:
s = input("Enter the string:")
if len(s) < 3 :
  print(s)
elif s.endswith("ing"):
    print(s + "ly")
else:
    print(s + "ing")

Enter the string:eat
eating

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [ ]:
def longest_word(words):
  if not words:
    return None
  longest = max(words, key=len)
  return longest , len(longest)
s = input("Enter the words:").split()
longest , length = longest_word(s)
print("Longest word:", longest)
print("Length of the longest word:", length)

Enter the words:code python exercises
Longest word: exercises
Length of the longest word: 9

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [ ]:
s = input("Enter the string:")
if len(s) < 2:
  result1 = s
else:
  result1 = s[-1] + s[1:-1] + s[0]
print(result1)

Enter the string:network
ketworn

In [ ]:
s = input("Enter the string:")
if len(s) < 2:
  result2 = s
else:
  chars = list(s)
  chars[0], chars[-1] = chars[-1], chars[0]
  result2 = ''.join(chars)
print(result2)

Enter the string:computer
romputec

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [ ]:
s = input("Enter the string:")
result = ""
for i in range(len(s)):
  if i % 2 == 0:
    result += s[i]
print(result)

Enter the string:abca
ac

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [ ]:
s = input("Enter the string:")
words = s.split()
word_count = {}
for word in words:
  if word in word_count:
    word_count[word] += 1
  else:
    word_count[word] = 1
for word, count in word_count.items():
    print(word, ":", count)

Enter the string:amr and ahmed are frindes but amr is the tallest
amr : 2
and : 1
ahmed : 1
are : 1
frindes : 1
but : 1
is : 1
the : 1
tallest : 1

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [ ]:
s = input("Enter the string:")
print(s.upper())
print(s.lower())

Enter the string:mariam
MARIAM
mariam

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [ ]:
def reverse_string(s):
  if len(s) % 4 == 0:
    return s[::-1]
  else:
    return s
s = input("Enter the string:")
result = reverse_string(s)
print(result)

Enter the string:abcd
dcba

**10- Write a Python program to remove a newline in Python

In [ ]:
s = input("Enter the string:")
result = s.replace("\n", "")
print(result)

Enter the string:hello world
hello world

**11-Write a Python program to check whether a string starts with specified characters

In [ ]:
s = input("Enter the string:")
prefix = input("Enter the prefix:")
if s.startswith(prefix):
  print("yes")
else:
  print("no")

Enter the string:mariam magdy
Enter the prefix:mariam
yes

**12- Write a Python program to add prefix text to all of the lines in a string

In [ ]:
s = input("Enter the string:")
prefix = input("Enter the prefix:")
lines = s.splitlines()
result = "\n".join([prefix + line for line in lines])
print(result)

Enter the string:code python
Enter the prefix:ai
aicode python

**13-Write a Python program to print the following numbers up to 2 decimal places

In [ ]:
num = float(input("Enter the number:"))
print(round(num, 2))

Enter the number:3.141569
3.14

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [ ]:
num = float(input("Enter the number:"))
print(f"{num:+.2f}")

Enter the number:2.655
+2.65

**15-Write a Python program to display a number with a comma separator

In [ ]:
num = int(input("Enter the number:"))
print(f"{num:,}")

Enter the number:1235
1,235

**16-Write a Python program to reverse a string using 2 ways

In [ ]:
s =input("Enter the string:")
print(s[::-1])

Enter the string:computer
retupmoc

In [ ]:
s = input("Enter the string:")
result = ""
for i in s:
  result = i + result
print(result)

Enter the string:computer
retupmoc

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [ ]:
s = input("Enter the string:")
char_count = {}
for char in s:
  if char in char_count:
    char_count[char] += 1
  else:
    char_count[char] = 1
for char, count in char_count.items():
  if count > 1:
    print(char, ":", count)

Enter the string:my name is mariam
m : 4
  : 3
a : 3
i : 2

**18-Write a Python program to find the first non-repeating character in a given string

In [ ]:
s = input("Enter a string: ")

char_count = {}
for char in s:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1
for char in s:
    if char_count[char] == 1:
        print("First non-repeating character:", char)
        break
else:
    print("No non-repeating characters found.")

Enter a string: level up
First non-repeating character: v

**19-Write a Python program to remove spaces from a given string

In [ ]:
s = input("Enter the string:")
result = s.replace(" ", "")
print(result)

Enter the string:mariam magdy
mariammagdy

**20-Write a Python program to count the number of non-empty substrings of a given string

In [ ]:
s = input("Enter the string:")
n = len(s)
count = n * (n + 1) // 2
print("Number of non-empty substrings:",count)

Enter the string:abc
Number of non-empty substrings: 6

**21-write a Python program to swap first and last element of any list.

In [ ]:
list = input("Enter the list:").split()
list[0], list[-1] = list[-1], list[0]
print(list)

Enter the list:10 20 30 40 50 60
['60', '20', '30', '40', '50', '10']

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [ ]:
#list = [23,65,19,90]
list = input("Enter the list:").split()
pos1 = int(input("Enter the first position:"))
pos2 = int(input("Enter the second position:"))
list[pos1], list[pos2] = list[pos2], list[pos1]
print(list)

Enter the list:23 65 19 90
Enter the first position:0
Enter the second position:2
['19', '65', '23', '90']

**23- search for the all ways to know the length of the list

In [ ]:
list = input("Enter the list:").split()
print(len(list))

Enter the list:mariam mariam
2

In [ ]:
list = input("Enter the list:").split()
count = 0
for i in list:
  count += 1
print(count)

Enter the list:i like ai
3

In [ ]:
list = input("Enter the list:").split()
print(sum(1 for i in list))

Enter the list:computer network
2

In [ ]:
list = input("Enter the list:").split()
for i in range(len(list)):
  pass
print(i+1)

Enter the list:ai ai aia ia ai
5

In [ ]:
**24-write a Python code to find the Maximum number of list of numbers.

In [ ]:
list = input("Enter the list:").split()
max_num = max(list)
print(max_num)

Enter the list:10 80 50 40 90
90

In [ ]:
**25-write a Python code to find the Minimum number of list of numbers.

In [ ]:
list = input("Enter the lisst:").split()
min_num = min(list)
print(min_num)

Enter the lisst:10 60 80 3 1
1

**26-search for if an elem is existing in list

In [ ]:
list = input("Enter the list:").split()
elem = input("Enter the element:")
if elem in list:
  print("element is existing in list")
  print(list.index(elem))
else:
  print("element is not existing in list")

Enter the list:10 60 50 90 40
Enter the element:50
element is existing in list
2

**27- clear python list using different ways

In [ ]:
list = input("Enter the list:").split()
list.clear()
print(list)

Enter the list:10 50 30 50 90
[]

In [ ]:
list = input("Enter the list:").split()
del list[:]
print(list)

Enter the list:20 40 50 60 30
[]

In [ ]:
list = input("Enter the list:").split()
list = []
print(list)

Enter the list:20 40 50 60 80
[]

In [ ]:
list = input("Enter the list").split()
list[:] = []
print(list)

Enter the list10 50 60 70 90
[]

In [ ]:
list = input("Enter the list:").split()
while list:
  list.pop()
print(list)

Enter the list:10 50 60 4080
[]

**28-remove duplicated elements from a list

In [ ]:
list = input("Enter the list:").split()
unique_list = []
for i in list:
  if i not in unique_list:
    unique_list.append(i)
print(unique_list)

Enter the list:1 2  2 3 4 1 5 6
['1', '2', '3', '4', '5', '6']

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [ ]:
list = input("Enter the list:").split()
key = input("Enter the key:").split()
result = [{key[i]: list[i]} for i in range(len(key))]
print(result)

Enter the list:Gfg 3 is 8
Enter the key:name id name id
[{'name': 'Gfg'}, {'id': '3'}, {'name': 'is'}, {'id': '8'}]

**30-write a python program to count unique values inside a list using different ways

In [ ]:
list = input("Enter the list:").split()
unique_values = []
for i in list:
  if i not in unique_values:
    unique_values.append(i)
print(len(unique_values))

Enter the list:1 3 5 1 5 2 3
4

In [ ]:
list = input("Enter the list:").split()
unique_values = set()
for i in list:
  unique_values.add(i)
print(len(unique_values))

Enter the list:3 5 1 5 2 3
4

In [ ]:
list = input("Enter the list:").split()
counter = counter(list)
unique_values = len(counter)
print(unique_values)

In [ ]:
list = input("Enter the list:").split()
unique_values = len(set(list))
print(unique_values)

Enter the list:1 3 5 1 5 2 3
4

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3
Output : [4, 3] )

In [ ]:
list = input("Enter the list:").split()
k = int(input("Enter the value of k:"))
freq = {}
for i in list:
  if i in freq:
    freq[i] += 1
  else:
    freq[i] = 1
result = [i for i in freq if freq[i] > k]
print(result)

Enter the list:4 6 4 3 3 4 3 4 3 8
Enter the value of k:3
['4', '3']

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [ ]:
list = input("Enter the list:").split()
result = []
for i in range(1, len(list)):
  result.append(max(list[i-1], list[i]))
print(result)

Enter the list:1 2 2 3 4 5
['2', '2', '3', '4', '5']

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [ ]:
list = input("Enter the list:").split()
for i in list:
    for j in list:
        for k in list:
            if i != j and j != k and i != k:
                print(i, j, k, "##", end=' ')

Enter the list: 1 2 3
1 2 3 ## 1 3 2 ## 2 1 3 ## 2 3 1 ## 3 1 2 ## 3 2 1 ##

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3]
Output:
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [ ]:
list = input("Enter the list:").split()
result = []
for i in range(len(list)):
  for j in range(i, len(list)):
    result.append(list[i:j+1])
print(result)

Enter the list:1 2 3
[['1'], ['1', '2'], ['1', '2', '3'], ['2'], ['2', '3'], ['3']]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [ ]:
list1 = input("Enter the list1:").split()
list2 = input("Enter the list2:").split()
result = []
for i in list1:
  for j in list2:
    result.append((i,j))
print(result)

Enter the list1:a b
Enter the list2:1 2
[('a', '1'), ('a', '2'), ('b', '1'), ('b', '2')]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1

**Output : 2 3 4 5 2)

In [ ]:
list = input("Enter the list:").split()
elem = input("Enter the element:")
result = []
for i in list:
  if i != elem:
    result.append(i)
print(result)

Enter the list:1 1 2 3 4 5 1 2 1
Enter the element:1
['2', '3', '4', '5', '2']

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [ ]:
list1 = ['Gfg', 'is', 'best']
list2 = [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
result = []
for i in list2:
  result.append(list1[i])
print(result)

['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3
Output : [] )

In [ ]:
test_list = [(4, 5, 5, 4), (5, 4, 3)]
K = 5
N = 2
result = [tpl for tpl in test_list if tpl.count(K) == N]
print(result)

[(4, 5, 5, 4)]

In [ ]:
test_list = [(4, 5, 5, 4), (5, 4, 3)]
K = 5
N = 3
result = [tpl for tpl in test_list if tpl.count(K) == N]
print(result)

[]

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [ ]:
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
sorted_col0 = sorted(array, key=lambda x: x[0])
print("Sorted by column 0:", sorted_col0)
sorted_col1 = sorted(array, key=lambda x: x[1])
print("Sorted by column 1:", sorted_col1)
sorted_col2 = sorted(array, key=lambda x: x[2])
print("Sorted by column 2:", sorted_col2)

Sorted by column 0: [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted by column 1: [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted by column 2: [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [ ]:
**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output:
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [ ]:
input_dict = {'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
sorted_dict = dict(sorted(input_dict.items()))
print(sorted_dict)

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [ ]:
dict = {'Gfg' : 3, 'is' : 7, 'best' : 10, 'for' : 6, 'geeks' : 'CS'}
K = 7
result = {k: v for k, v in dict.items() if not (isinstance(v, int) and v > K)}
print(result)

{'Gfg': 3, 'is': 7, 'for': 6, 'geeks': 'CS'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
dict1 = {1:10, 2:20}
dict2 = {3:30, 4:40}
dict3 = {5:50, 6:60}
result = {}
for d in (dict1, dict2, dict3):
  result.update(d)
print(result)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [ ]:
dict = {'a': 10, 'b': 5, 'c': 30, 'd': 15}
for key, value in dict.items():
  print(key, value)

a 10
b 5
c 30
d 15

**44- Write a Python script to merge two Python dictionaries

In [ ]:
dict1 = {'a': 10, 'b': 5, 'c': 30, 'd': 15}
dict2 = {'e': 20, 'f': 10, 'g': 40, 'h': 25}
dict1.update(dict2)
print(dict1)

{'a': 10, 'b': 5, 'c': 30, 'd': 15, 'e': 20, 'f': 10, 'g': 40, 'h': 25}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [ ]:
dict = {'a': 10, 'b': 5, 'c': 30, 'd': 15}
max_value = max(dict.values())
min_value = min(dict.values())
print("Maximum value:", max_value)
print("Minimum value:", min_value)

Maximum value: 30
Minimum value: 5

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [ ]:
dict = {'c1': 'Red', 'c2': 'Green', 'c3': None}
result = {key: value for key, value in dict.items() if value is not None}
print(result)

{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [ ]:
tuple = input("Enter the tuple:").split()
print(tuple[0])

Enter the tuple:10 50 60 80 60
10

**48-Write a Python program to unpack a tuple into several variables

In [ ]:
tuple = input("Enter the tuple:").split()
a, b, c ,d = tuple
print(a, b, c, d)

Enter the tuple:10 20 30 40
10 20 30 40

**49-Write a Python program to add an item to a tuple

In [ ]:
user_input = input("Enter the tuple: ").split()
item = input("Enter the item to add: ")
my_tuple = tuple(user_input) + (item,)
print("Updated Tuple:", my_tuple)

Enter the tuple: 10 20 30 50
Enter the item to add: 40 60 90
Updated Tuple: ('10', '20', '30', '50', '40 60 90')

**50-Write a Python program to convert a tuple to a string

In [ ]:
tuple = input("Enter the tuple:").split()
string = ''.join(tuple)
print(string)

Enter the tuple:h e l l o
hello

**51-Write a Python program to convert a list to a tuple

In [ ]:
user_input = input("Enter the list elements (space-separated): ").split()
result_tuple = tuple(user_input)
print(result_tuple)

Enter the list elements (space-separated): m a r i a m
('m', 'a', 'r', 'i', 'a', 'm')

**52-Write a Python program to reverse a tuple

In [ ]:
tuple = input("Enter the tuple:").split()
tuple = tuple[::-1]
print(tuple)

Enter the tuple:1 2 2 3 4 5
['5', '4', '3', '2', '2', '1']

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [ ]:
list = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
new_value = 100
result = []
for i in list:
  result.append(i[:-1] + (new_value,))
print(result)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [ ]:
original_string = "python 3.0"
result_tuple = tuple(original_string)
print("Original string:", original_string)
print("Converted tuple:", result_tuple)

Original string: python 3.0
Converted tuple: ('p', 'y', 't', 'h', 'o', 'n', ' ', '3', '.', '0')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [ ]:
tuple = input("Enter the tuple:").split()
sum = 0
for i in tuple:
  sum += int(i)
average = sum / len(tuple)
print(average)

Enter the tuple:10 20 30
20.0

**56-Write a Python program to add member(s) to a set.

In [ ]:
my_set = input("Enter the set:").split()
members_to_add = input("Enter the member(s) to add:").split(',')
my_set.extend(members_to_add)
print("Updated Set:", my_set)

Enter the set:1 2 3 4
Enter the member(s) to add:5,6,7,8
Updated Set: ['1', '2', '3', '4', '5', '6', '7', '8']

**57-Write a Python program to remove an item from a set if it is present in the set.

In [ ]:
set = input("Enter the set:").split()
item_to_remove = input("Enter the item to remove:")
if item_to_remove in set:
  set.remove(item_to_remove)
  print("Updated Set:", set)

Enter the set:10 20 50 60
Enter the item to remove:20
Updated Set: ['10', '50', '60']

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [ ]:
set1 = input("Enter the first set:").split()
set2 = input("Enter the second set:").split()
print("Intersection:", set(set1).intersection(set2))
print("Union:", set(set1).union(set2))
print("Difference:", set(set1).difference(set2))
print("Symmetric Difference:", set(set1).symmetric_difference(set2))

Enter the first set:1 2 3 4
Enter the second set:4 5 6 7
Intersection: {'4'}
Union: {'1', '7', '3', '5', '4', '6', '2'}
Difference: {'1', '2', '3'}
Symmetric Difference: {'1', '7', '3', '5', '6', '2'}

**59-Write a Python program to find the maximum and minimum values in a set

In [ ]:
set = input("Enter the set:").split()
max_value = max(set)
min_value = min(set)
print("Maximum value:", max_value)
print("Minimum value:", min_value)

Enter the set:10 50 60 40
Maximum value: 60
Minimum value: 10

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [ ]:
num = input("Enter the list:").split()
sum = int(input("Enter the sum:"))
for i in range(len(num)):
  for j in range(i+1, len(num)):
    if int(num[i]) + int(num[j]) == sum:
      print(num[i], num[j])

Enter the list:2 3 4 5 7 8
Enter the sum:10
2 8
3 7